.content {
  padding-top: 30px;
  padding-bottom: 40px;
}

.reference-body h3,
.reference-body h4,
.reference-body h5,
.reference-body h6 {
  margin-top: 2em;
}

.reference-body h3+h4 {
  margin-top: 1em;
}

.scroll {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #218AC9;
  color: #fff;
}
