<div class="col-md-3 col-md-push-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basics</h3>
    </div>
    <div class="list-group">
      <%= link_to_with_current("Introduction", "/",
        class: "list-group-item") %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Filters</h3>
    </div>
    <div class="list-group">
      <%= link_to_with_current("Introduction", "/filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Array Filters", "/filters/array_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("HTML Filters", "/filters/html_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Markdown Filters", "/filters/markdown_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Math Filters", "/filters/math_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Money Filters", "/filters/money_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("String Filters", "/filters/string_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Text Filters", "/filters/text_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Additional Filters", "/filters/additional_filters/",
        class: "list-group-item") %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Tags</h3>
    </div>
    <div class="list-group">
      <%= link_to_with_current("Introduction", "/tags/",
        class: "list-group-item") %>
      <%= link_to_with_current("Control Flow Tags", "/tags/control_flow_tags/",
        class: "list-group-item") %>
      <%= link_to_with_current("Iteration Tags", "/tags/iteration_tags/",
        class: "list-group-item") %>
      <%= link_to_with_current("Theme Tags", "/tags/theme_tags/",
        class: "list-group-item") %>
      <%= link_to_with_current("Variable Tags", "/tags/variable_tags/",
        class: "list-group-item") %>
    </div>
  </div>
</div>
