<div class="col-md-3 col-md-push-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basics</h3>
    </div>
    <div class="list-group">
      <%= link_to_with_current("Introduction", "/reference/",
        class: "list-group-item") %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Objects</h3>
    </div>
    <div class="list-group">
      <%= link_to_with_current("Introduction", "/reference/objects/",
        class: "list-group-item") %>
      <%= link_to_with_current("Amenity", "/reference/objects/amenity/",
        class: "list-group-item") %>
      <%= link_to_with_current("Availability", "/reference/objects/availability/",
        class: "list-group-item") %>
      <%= link_to_with_current("Base", "/reference/objects/base/",
        class: "list-group-item") %>
      <%= link_to_with_current("Bathroom", "/reference/objects/bathroom/",
        class: "list-group-item") %>
      <%= link_to_with_current("Bathroom Amenity", "/reference/objects/bathroom_amenity/",
        class: "list-group-item") %>
      <%= link_to_with_current("Bed Kind", "/reference/objects/bed_kind/",
        class: "list-group-item") %>
      <%= link_to_with_current("Bedroom", "/reference/objects/bedroom/",
        class: "list-group-item") %>
      <%= link_to_with_current("Categories", "/reference/objects/categories/",
        class: "list-group-item") %>
      <%= link_to_with_current("Categories", "/reference/objects/categories/",
        class: "list-group-item") %>
      <%= link_to_with_current("Category Locale", "/reference/objects/category_locale/",
        class: "list-group-item") %>
      <%= link_to_with_current("Category Locales", "/reference/objects/category_locales/",
        class: "list-group-item") %>
      <%= link_to_with_current("Category", "/reference/objects/category/",
        class: "list-group-item") %>
      <%= link_to_with_current("Contact Request", "/reference/objects/contact_request/",
        class: "list-group-item") %>
      <%= link_to_with_current("Context", "/reference/objects/context/",
        class: "list-group-item") %>
      <%= link_to_with_current("Destination Locale", "/reference/objects/destination_locale/",
        class: "list-group-item") %>
      <%= link_to_with_current("Destination Locales", "/reference/objects/destination_locales/",
        class: "list-group-item") %>
      <%= link_to_with_current("Current Page", "/reference/objects/current_page/",
        class: "list-group-item") %>
      <%= link_to_with_current("Destination", "/reference/objects/destination/",
        class: "list-group-item") %>
      <%= link_to_with_current("Form Error", "/reference/objects/form_error/",
        class: "list-group-item") %>
      <%= link_to_with_current("Guest", "/reference/objects/guest/",
        class: "list-group-item") %>
      <%= link_to_with_current("Locale", "/reference/objects/locale/",
        class: "list-group-item") %>
      <%= link_to_with_current("Locales", "/reference/objects/locales/",
        class: "list-group-item") %>
      <%= link_to_with_current("Location", "/reference/objects/location/",
        class: "list-group-item") %>
      <%= link_to_with_current("Menu", "/reference/objects/menu/",
        class: "list-group-item") %>
      <%= link_to_with_current("Menu Item", "/reference/objects/menu_item/",
        class: "list-group-item") %>
      <%= link_to_with_current("Menus", "/reference/objects/menus/",
        class: "list-group-item") %>
      <%= link_to_with_current("Page", "/reference/objects/page/",
        class: "list-group-item") %>
      <%= link_to_with_current("Page Locale", "/reference/objects/page_locale/",
        class: "list-group-item") %>
      <%= link_to_with_current("Page Locales", "/reference/objects/page_locales/",
        class: "list-group-item") %>
      <%= link_to_with_current("Rental", "/reference/objects/rental/",
        class: "list-group-item") %>
      <%= link_to_with_current("Rental Amenities", "/reference/objects/rental_amenities/",
        class: "list-group-item") %>
      <%= link_to_with_current("Rental Photo", "/reference/objects/rental_photo/",
        class: "list-group-item") %>
      <%= link_to_with_current("Rental Preview", "/reference/objects/rental_preview/",
        class: "list-group-item") %>
      <%= link_to_with_current("Rental Special Offer", "/reference/objects/rental_special_offer/",
        class: "list-group-item") %>
      <%= link_to_with_current("Rental Type", "/reference/objects/rental_type/",
        class: "list-group-item") %>
      <%= link_to_with_current("Rentals", "/reference/objects/rentals/",
        class: "list-group-item") %>
      <%= link_to_with_current("Rentals Tag", "/reference/objects/rentals_tag/",
        class: "list-group-item") %>
      <%= link_to_with_current("Review", "/reference/objects/review/",
        class: "list-group-item") %>
      <%= link_to_with_current("Search", "/reference/objects/search/",
        class: "list-group-item") %>
      <%= link_to_with_current("Search Form", "/reference/objects/search_form/",
        class: "list-group-item") %>
      <%= link_to_with_current("Site", "/reference/objects/site/",
        class: "list-group-item") %>
      <%= link_to_with_current("Social", "/reference/objects/social/",
        class: "list-group-item") %>
      <%= link_to_with_current("Time", "/reference/objects/time/",
        class: "list-group-item") %>
      <%= link_to_with_current("Tweet", "/reference/objects/tweet/",
        class: "list-group-item") %>
      <%= link_to_with_current("Twitter", "/reference/objects/twitter/",
        class: "list-group-item") %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Templates</h3>
    </div>
    <div class="list-group">
      <%= link_to_with_current("Introduction", "/reference/templates/",
        class: "list-group-item") %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Filters</h3>
    </div>
    <div class="list-group" id="filters">
      <%= link_to_with_current("Introduction", "/reference/filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Array Filters", "/reference/filters/array_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("HTML Filters", "/reference/filters/html_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Markdown Filters", "/reference/filters/markdown_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Math Filters", "/reference/filters/math_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Money Filters", "/reference/filters/money_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("String Filters", "/reference/filters/string_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Text Filters", "/reference/filters/text_filters/",
        class: "list-group-item") %>
      <%= link_to_with_current("Additional Filters", "/reference/filters/additional_filters/",
        class: "list-group-item") %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Tags</h3>
    </div>
    <div class="list-group">
      <%= link_to_with_current("Introduction", "/reference/tags/",
        class: "list-group-item") %>
      <%= link_to_with_current("Control Flow Tags", "/reference/tags/control_flow_tags/",
        class: "list-group-item") %>
      <%= link_to_with_current("Iteration Tags", "/reference/tags/iteration_tags/",
        class: "list-group-item") %>
      <%= link_to_with_current("Theme Tags", "/reference/tags/theme_tags/",
        class: "list-group-item") %>
      <%= link_to_with_current("Variable Tags", "/reference/tags/variable_tags/",
        class: "list-group-item") %>
    </div>
  </div>
</div>
