/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4BA0A5;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}



/* Style for inline code */
code:not([class*="language-"]) {
  color: #EF2929;
  font-weight: 500;
}

/* OAuth nav styles */
.nav-pills {
  border-bottom: 1px solid var(--ifm-color-gray-300);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding: 0;
  background: var(--ifm-background-color);
  list-style: none;
}

.nav-pills li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-pills > li {
  margin: 0;
}

.nav-pills > li.disabled > a {
  color: var(--ifm-color-gray-600);
  font-weight: normal;
  padding: 8px 0;
  background: none;
}

.nav-pills > li.disabled > a:hover {
  background: none;
  cursor: default;
}

.nav-pills > li.active > a {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-white);
  padding: 4px 12px;
  margin: 6px 0 6px 8px;
  font-weight: normal;
  border-radius: 4px;
}

.nav-pills > li.active > a:hover {
  background-color: var(--ifm-color-primary-darker);
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
}

table th {
  background-color: var(--ifm-color-gray-100);
  border-bottom: 1px solid var(--ifm-color-gray-200);
  padding: 12px 8px;
  text-align: left;
  color: var(--ifm-color-gray-800);
}

table td {
  border-bottom: 1px solid var(--ifm-color-gray-200);
  padding: 12px 8px;
  color: var(--ifm-color-gray-800);
}

[data-theme='dark'] .nav-pills {
  border-bottom-color: var(--ifm-color-gray-800);
}

[data-theme='dark'] table th {
  background-color: var(--ifm-color-gray-900);
  border-bottom-color: var(--ifm-color-gray-800);
  color: var(--ifm-color-gray-100);
}

[data-theme='dark'] table td {
  border-bottom-color: var(--ifm-color-gray-800);
  color: var(--ifm-color-gray-100);
}

/* Video container styles */
.video-container {
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 16/9;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}
